.mainBody{
    margin: 0 auto;
    width: 80%;
    background-color: skyblue;
   /*text-align: center;*/
    
}

#addInfo{
    width: 100%;
    background-color: darkcyan;
    height: 50px;
    font-size: 20px;
    color: black;
    font-style: italic;
    font-style: bold;
    border-radius: 10px;
}


.tabledecor{
    border: 3px double;
    border-color: darkblue;
    border-radius: 10px;
    padding: 10px;
    
}
.celldecor{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    
}
.tableDive{
    margin: 10px;
    padding: 10px;
}
.lableDecor{
    text-align: left;
    padding: 10px;
}
.textBoxDecor{
    text-align: left;
    padding:10px;
    margin: 10px;
}

.footerAtt{
    border: 1px;
    border-color: black;
    background-color: darkcyan;
    padding: 10px;
    align-items: baseline;
    border-radius: 10px;
    clear: both;
} 